

@font-face {
    font-family: 'Bebas Neue';
    src: url("/fonts/BebasNeue.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url("/fonts/Comfortaa.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}


$color-primary : #FF9F1C;
$color-light : #F9F5FF;
$color-darkblue : #28262C;
$font-family-main : "Bebas Neue";
$font-family-secondary : "Comfortaa";
$media-mobile: "only screen and (max-width : 960px)";


:root{

    --color-primary : #FF9F1C;
    --color-light : #F9F5FF;
    --color-darkblue : #28262C;

    --font-family-main : "Bebas Neue";
    --font-family-secondary : "Comfortaa";
    font-size: 18px;


    

    @media #{$media-mobile} {
        font-size: 12px;
    }

}

@import url("/styles/reset.scss");

@import url("/styles/base.scss");